.nosotrosItems{
  padding: 0 4rem;
  max-width: 120rem;
  margin: 4rem auto;
}
.nosotrosItems h3{
  font-size: 3rem;
  text-align: center;
}
.nosotrosItem{
  display: grid;
  grid-template-columns: 50rem 1fr;
  gap: 3rem;
}

@media (max-width: 768px) {
  .nosotrosItem{
    grid-template-columns: 1fr;
  }
}

.nosotrosItem img{
  width: 100%;
  max-height: 40rem;
  object-fit: cover;
}
.nosotrosItem p{
  line-height: 1.5;
  font-size: 1.8rem;
}

.nosotrosItems h3 {
  color: var(--primario);
}