@import './variables.css';
@import './normalize.css';
@import './banner.css';
@import './curso.css';
@import './mainHome.css';
@import './layoutsHome.css';
@import './nosotrosItem.css';
@import './formContac.css' ;

html{
    font-size: 62.5%;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--secundario);
    font-size: 1.6rem; 
    box-sizing: border-box;
    /* background-image: url('./../img/bg.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px var(--secundario);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primario);
}

